<div class="grid">

    <div class="col-12">

        <div class="card">
            <h5>Configuración General del Sistema</h5>
            <p-tabView orientation="left">
                <p-tabPanel header="Negocio" class="line-height-3 m-0">
                </p-tabPanel>
                <p-tabPanel header="Horario" class="line-height-3 m-0">
                    <app-schedule></app-schedule>
                </p-tabPanel>
                
            </p-tabView>
        </div>
    </div>

</div>
